In [6]:
score = 82

In [8]:
if score > 90:
    print('잘했음')
else:
    if score > 80:
        print('그럭저럭')
    else:
        if score > 70:
            print('봐줄만함')
        else:
            print('못함')

그럭저럭

In [9]:
if score > 90:
    print('잘했음')
elif score > 80:
    print('그럭저럭')
elif score > 70:
    print('봐줄만함')
else:
    print('못함')

그럭저럭

In [11]:
'70넘음' if score > 70 else '70안넘음'

'70넘음'

In [13]:
def f():
    if score > 70:
        return '70넘음'
    else:
        return '70안넘음'

f()

'70넘음'

In [2]:
[print(a) for a in range(5)]

0
1
2
3
4

[None, None, None, None, None]

In [7]:
[a for a in range(5)]

[0, 1, 2, 3, 4]

In [4]:
a

5

In [6]:
result = print(a)
print(result)

5
None

In [10]:
# immutable = 불변
a = '안녕하세요'
a = '안녕'

# iterable = 반복가능 (for나 while문으로 순회할 수 있는가)
# (구현: 해당 객체에 __iter__()라는 메서드가 존재하는가)
for char in '안녕하세요':
    print(char)
    
for i in range(5):
    print(i)

안
녕
하
세
요
0
1
2
3
4

In [15]:
is_holiday = False

result1 = 'Good' if is_holiday else 'Bad'

In [16]:
result2 = print('Good') if is_holiday else print('Bad')

Bad

In [17]:
print(result1, result2)

Bad None

In [22]:
vacation = 3

result = None
if vacation >= 7:
    result = 'Good'
elif vacation >= 5:
    result = 'Normal'
else:
    result = 'Bad'

In [23]:
result

'Bad'

In [24]:
result = 'Good' if vacation >= 7 else 'Normal' if vacation >= 5 else 'Bad'
print(result)

Bad

In [30]:
champion_list = ['lux', 'ahri', 'ezreal', 'zed']
for champion in champion_list:
    print(champion)

lux
ahri
ezreal
zed

In [31]:
for i in range(5):
    print(i)

0
1
2
3
4

In [39]:
# 1부터 100까지 반복하다가, 7과 9로 모두 나누어지는 수가 나오면 break로 for문 중단
# 순회할 데이터는 range(start, end)를 사용
for i in range(1, 101):    
    # 그 항목이 7로 나누어 떨어지는지 확인
    if i % 7 == 0:
        # 7로 나누어 떨어지면, 9로도 나누어 떨어지는지 확인
        if i % 9 == 0:
            # 둘다 True면 해당 숫자 출력 후 반복문 종료
            print(i)
            break
            
for i in range(1, 101):
    if i % 7 == 0 and i % 9 == 0:
        print(i)
        break

63
63

In [42]:
# 3이나 5의 배수는 출력되지 않도록 한다
for i in range(1, 21):
    if i % 3 == 0 or i % 5 == 0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19

In [89]:
# i가 969로 나누어 떨어지면 해당 숫자를 출력하고 for문을 중단
# 만약 for문을 전체 순회할 때 까지도 나누어 떨어지지 않는다면, 
#  for문이 종료된 후 "969로는 나누어지지 않음!"을 출력

# 조건: for-else문 없이!
# 힌트: for문 외부에 변수를 하나 두어야 함 (아래의 경우 flag변수)
# 참: True, 거짓: False
number = 969
# number = 257

is_break = None
for i in range(1, 3000, 7):
    if i % number == 0:
        print(i)
        is_break = True
        break
        
# if is_break != True:
# is는 객체(주소)의 비교, 값을 비교하는 !=나 ==보다 연산에 이득
if is_break is False:
    print(f'{number}로는 나누어지지 않음!')

In [90]:
fruits = ['apple', 'banana', 'melon']
colors = ['red', 'yellow', 'green', 'purple']

In [91]:
# 두 시퀀스 데이터를 묶어서 한 번에 순회
# 매 순회마다 for문의 항목으로 tuple이 제공됨
for fruit, color in zip(fruits, colors):
    print(fruit, color)

apple red
banana yellow
melon green

In [129]:
result = zip(fruits, colors)
result[0]

TypeError: 'zip' object is not subscriptable

In [104]:
for i in range(5):
    print(i)

0
1
2
3
4

In [105]:
for i in [0, 1, 2, 3, 4]:
    print(i)

0
1
2
3
4

In [126]:
gen_5 = (x for x in range(5))
list_5 = [x for x in range(5)]

In [125]:
for i in gen_5:
    print(i)

for i in list_5:
    print(i)

0
1
2
3
4
0
1
2
3
4

In [127]:
list_5[0]

0

In [128]:
gen_5[0]

TypeError: 'generator' object is not subscriptable

In [130]:
count = 0
while count < 10:
    print(count)
    
    count += 1

0
1
2
3
4
5
6
7
8
9

In [137]:
numbers = []

for item in range(1, 6):
    numbers.append(item)
numbers

[1, 2, 3, 4, 5]

In [138]:
numbers = [item * 2 for item in range(1, 6)]
numbers

[2, 4, 6, 8, 10]

In [141]:
numbers = [item for item in range(2, 6, 2)]
numbers

[2, 4]

In [142]:
# result에 2와 4만 들어가도록 (짝수일 때만) 코드 작성
result = []
for i in range(1, 6):
    if i % 2 == 0:
        result.append(i)
        
result

[2, 4]

In [145]:
result = [item for item in range(1, 6) if item % 2 == 0]
result = [
    item
    for item in range(1, 6)
    if item % 2 == 0
]

In [146]:
result

[2, 4]

In [147]:
colors

['red', 'yellow', 'green', 'purple']

In [148]:
fruits

['apple', 'banana', 'melon']

In [153]:
result = []
for color in colors:
    for fruit in fruits:
        result.append((color, fruit))
result

[('red', 'apple'),
 ('red', 'banana'),
 ('red', 'melon'),
 ('yellow', 'apple'),
 ('yellow', 'banana'),
 ('yellow', 'melon'),
 ('green', 'apple'),
 ('green', 'banana'),
 ('green', 'melon'),
 ('purple', 'apple'),
 ('purple', 'banana'),
 ('purple', 'melon')]

In [155]:
result = [
    (color, fruit) 
    for color in colors 
    for fruit in fruits]
result

[('red', 'apple'),
 ('red', 'banana'),
 ('red', 'melon'),
 ('yellow', 'apple'),
 ('yellow', 'banana'),
 ('yellow', 'melon'),
 ('green', 'apple'),
 ('green', 'banana'),
 ('green', 'melon'),
 ('purple', 'apple'),
 ('purple', 'banana'),
 ('purple', 'melon')]

In [156]:
s = {item for item in 'Ezreal'}
s

{'E', 'a', 'e', 'l', 'r', 'z'}

In [157]:
d = {key: value for key, value in [('apple', '사과'), ('banana', '바나나')]}
d

{'apple': '사과', 'banana': '바나나'}

In [158]:
d = {}
for key, value in [('apple', '사과'), ('banana', '바나나')]:
    d[key] = value
    
d

{'apple': '사과', 'banana': '바나나'}